CREATE TABLE admin_announcements (
	id VARCHAR NOT NULL, 
	title VARCHAR NOT NULL, 
	content TEXT NOT NULL, 
	created_by VARCHAR NOT NULL, 
	created_at DATETIME NOT NULL, 
	PRIMARY KEY (id), 
	FOREIGN KEY(created_by) REFERENCES users (id)
);
CREATE TABLE instructor_student_notes (
	id VARCHAR NOT NULL, 
	instructor_id VARCHAR NOT NULL, 
	student_id VARCHAR NOT NULL, 
	content TEXT NOT NULL, 
	created_at DATETIME NOT NULL, 
	PRIMARY KEY (id), 
	FOREIGN KEY(instructor_id) REFERENCES users (id) ON DELETE CASCADE, 
	FOREIGN KEY(student_id) REFERENCES users (id) ON DELETE CASCADE
);
CREATE TABLE quizzes (
	id VARCHAR NOT NULL, 
	section_id VARCHAR NOT NULL, 
	title VARCHAR NOT NULL, 
	description TEXT NOT NULL, 
	time_limit_minutes INTEGER NOT NULL, 
	due_date DATETIME NOT NULL, 
	max_points FLOAT NOT NULL, 
	PRIMARY KEY (id), 
	FOREIGN KEY(section_id) REFERENCES course_sections (id) ON DELETE CASCADE
);
CREATE TABLE quiz_questions (
	id VARCHAR NOT NULL, 
	quiz_id VARCHAR NOT NULL, 
	question_text TEXT NOT NULL, 
	question_type VARCHAR NOT NULL, 
	correct_answer TEXT NOT NULL, 
	options JSON NOT NULL, 
	points FLOAT NOT NULL, 
	PRIMARY KEY (id), 
	FOREIGN KEY(quiz_id) REFERENCES quizzes (id) ON DELETE CASCADE
);
CREATE TABLE instructor_interventions (
	id VARCHAR NOT NULL, 
	risk_signal_id VARCHAR NOT NULL, 
	instructor_id VARCHAR NOT NULL, 
	action_taken TEXT NOT NULL, 
	status VARCHAR NOT NULL, 
	created_at DATETIME NOT NULL, 
	PRIMARY KEY (id), 
	FOREIGN KEY(risk_signal_id) REFERENCES risk_signals (id) ON DELETE CASCADE, 
	FOREIGN KEY(instructor_id) REFERENCES users (id)
);
